<p>
<table>
    <thead>
        <tr>
            <th width="40px">Version</th>
            <th width="140px">Build Date</th>
            <th width="800px">Developer Notes</th>
        </tr>
    </thead>
    <tbody>
    {% for rcd in build_commits %}
    <tr>
        <td>{{rcd.version | e}}</td>
        <td>{{rcd.build_date | e}}</td>
        <td>
          {% for tag in rcd.commits %}
            <li>{{tag | e}}</li>
          {% endfor %}
        </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</p>